html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: monospace;
  height: 100%;
  justify-content: center;
}

button {
  border-radius: 8px;
  font-size: 20pt;
  height: 50px;
  width: 200px;
}
